@font-face {
	font-family: light_font;
	src: url(../media/font/roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: regular_font;
	src: url(../media/font/roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: bold_font;
	src: url(../media/font/roboto/Roboto-Bold.ttf);
}

body, html {
	   width: 100%; height: 100%;
	   padding: 0px; margin: 0px;
}

.page_setting_1 {
		width: 100%; height: 100%; max-height: 1080px;
}

.page_setting_2 {
		width: 100%; padding: 50px 0 0 0;
}

.page_title {
		padding: 0 0 50px 0;
		font-family: light_font; font-size: 60px; color: rgba(0, 0, 0, 0.875); text-align: center;
}

.page_title .blue {
		display: inline; color: #26ade4;
}

.page_centering {
		width: 90%; max-width: 1920px;
		margin: 0 auto;
		overflow: hidden;
}

/* * * * * * * * * * * * * * * styles for .media_section * * * * * * * * * * * * * * */

.media_section {
		width: 100%; height: 100%;
		position: relative;
		overflow: hidden; background-position: center; background-size: cover;
}

.media_section .logo {
		width: 250px; height: 90px;
		margin: 50px 0 0 0;
		background-image: url(../media/images/white_logo.png); background-position: center; background-size: cover;
}

.media_section .scrolling_button {
		width: 50px; height: 50px;
		position: absolute; bottom: 50px; left: 50%; margin: 0 0 0 -25px;
		background-image: url(../media/images/skrolling_icon.gif); background-position: center; background-size: cover;
		transition: 0.2s linear;
}

.media_section .scrolling_button:hover {
		cursor: pointer; opacity: 0.5;
}

.media_section .title {
		width: 700px;
		position: absolute; top: 50%; left: 50%; margin: -100px 0 0 -350px;
		font-family: bold_font; font-size: 60px; color: #fff; text-align: center;
		/* background-color: rgba(0, 0, 0, 0.1) */
}

.media_section .title .light {
		font-family: light_font;
}

/* * * * * * * * * * * * * * * style for creating columns * * * * * * * * * * * * * * */

.left_column {
		width: 40%; float: left;
		/* background-color: rgba(0, 0, 0, 0.1) */
}

.left_column .image {
		width: 400px; height: 400px;

		background-color: #f2f2f2; background-position: center; background-size: 100%;
		border-radius: 100px; transition: 0.2s linear;
}

.left_column .image:hover {
		background-size: 125%;
}

.right_column {
		width: 60%;  float: right;
		/* background-color: rgba(0, 0, 0, 0.2) */
}

.right_column .text {
		font-family: light_font; font-size: 30px; color: rgba(0, 0, 0, 0.875);
}

/* * * * * * * * * * * * * * * additional column styles * * * * * * * * * * * * * * */

.uiandui {
		background-image: url(../media/images/uxandui.jpg);
}

.target {
		background-image: url(../media/images/target.jpg);
}


/* * * * * * * * * * * * * * * styles for .footer * * * * * * * * * * * * * * */

.footer {
		padding: 0 0 50px 0;
		font-family: light_font; font-size: 60px; color: rgba(0, 0, 0, 0.875); text-align: center;
}

/* * * * * * * * * * * * * * * styles for .fixed_menu * * * * * * * * * * * * * * */

.fixed_menu {
		width: 100%;
		position: fixed; top: -70px;

		overflow: hidden; transition: 0.2s linear; background-color: #fff; border-bottom: 1px solid rgba(0, 0, 0, .125);
		/* box-shadow: 0 3px 2px -3px #999 */
		/* border-bottom: 1px solid rgba(0, 0, 0, .125) */
}

.fixed_menu .logo {
		width: 26px; height: 26px;
		float: left; margin: 6px 100px 0 0;
		background-image: url(../media/images/emblem2.png); background-position: center; background-size: cover;
}

.fixed_menu .menu_item {
		padding: 10px 0;
		float: left; margin: 0 50px 0 0;
		font-family: light_font; font-size: 15px; color: rgba(0, 0, 0, 0.875); transition: 0.2s linear;
}

.fixed_menu .menu_item:hover {
		cursor: pointer; color: #26ade4;
}
